*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
#Navbar{
    height: 54px;
    background-color: #e6e6e6;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#Navbar .left{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
#Navbar .left .link{
    padding: 0 8px;
}
#Navbar .left .link a{
    color: #262626;
    white-space: normal;
    text-decoration: none; 
    font-weight: 100;
    font-size: 13px;
    font-family: 'Segoe UI',SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

#Navbar .right{
    display: flex;
}
#Navbar .right .link{
    padding: 0 8px;
}

#Navbar .right .link a{
    color: #262626;
    white-space: normal;
    text-decoration: none;
    font-weight: 100;
    font-size: 13px;
    font-family: 'Segoe UI',SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.logo{
    width: 108px;
}
i{
  color: #262626;;
  font-weight: 100;
}
#Navbar .left .link :hover{ 
    /* text-decoration: underline;  */
    border-bottom: 2px solid #262626;   
 } 
#Navbar .right .link:hover{
   border-bottom: 2px solid #262626;
}

/* background */

#background{
background-image: url(https://images.unsplash.com/photo-1680510838622-b5a456a9f5dd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1370&q=80);
width: 100%;
height: 95vh;
background-size: cover;
background-repeat: no-repeat;
}
#overlay{
    background:rgba(0, 0, 0, 0.199);
    width: 100%;
    height: 95vh;
    position: relative;
    
}
.content{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    text-align: center;
}
.content h1{
    font-size: 40px;
    color:#e6e6e6;
    font-weight: 200;
    font-family: 'Times New Roman', Times, serif;
}
.content p{
    font-size: 16px;
    color: #e6e6e6;
    margin-top: 10px;
}
.content button{
    padding: 10px 20px;
    margin-top: 10px;
    background:transparent;
    border:1px solid #e6e6e6;
    color: #e6e6e6;
    border-radius: 5px;
    cursor: pointer;
}